input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.container {
  padding: 16px;
}

span.olvidar {
  float: right;
  padding-top: 16px;
}

.content {
  background-color: #fefefe;
  margin: 2% auto 0% auto;
  border: 1px solid #888;
  width: 80%;
}
.form {
  padding: 12px 20px;
}

button {
  background-color: #0EB6F0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
.cancelbtn {
  background-color: #f44336;
}
.registrobtn {
  background-color: #4CAF50;
}