{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'CatalogPagTitle' %}</title>
    <link rel="stylesheet" href="{% static 'css/Bootstrap/bootstrap.min.css' %}" >
    <script src="https://kit.fontawesome.com/f52e6fe05b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/MovieDick_Inicio.css' %}" >
    <script type="text/javascript"src="{% static 'fusioncharts/fusioncharts.js' %}" ></script>
    <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>

</head>
<body>
    {% include 'MovieDick_Menu.html' %}
    <div class="main-content-live">
        <div class="container-fluid">
            <div class="row my-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 productos">
                    <div id="marco-post">
                        <h2 class="titulo"><a  title="Catálogo">{% trans 'CatalogTag' %}</a></h2>
                        <div class="post">
                        <h4 style="text-align: center;"><span style="color: #993300;">{% trans 'MovieTag' %}</span></h4>
                        
                        <p><!-- |0-9     --></p>
                        <fieldset> 
                        <legend align="center"><span style="color: #800000;"><strong>0-9</strong></span></legend>
                        <p>
                            <a href="https://es.wikipedia.org/wiki/3:10_to_Yuma_(pel%C3%ADcula_de_2007)"><strong>3:10 Mision Peligrosa</strong></a><br>
                            <a href="https://es.wikipedia.org/wiki/13_Horas:_Los_soldados_secretos_de_Bengasi"><strong>13 Horas: Los Soldados Secretos de Bengasi</strong></a><br>
                        </p></fieldset>
                    
                        <p><!-- |A     --></p>
                        <fieldset>
                        <legend align="center"><span style="color:#800000;"><strong>A</strong></span></legend>
                        <p>
                            <a href="https://es.wikipedia.org/wiki/Aquaman_(pel%C3%ADcula)"><strong>Aquaman</strong></a><br>
                            <a href="https://es.wikipedia.org/wiki/Aves_de_presa_(pel%C3%ADcula)"><strong>Aves de presa</strong></a></p>
                        </fieldset>
                        
                        <p><!-- |B    --></p>
                        <fieldset>
                        <legend align="center"><span style="color:#800000;"><strong>B</strong></span></legend>
                        <p>
                        <a href="https://es.wikipedia.org/wiki/Ben-Hur_(pel%C3%ADcula_de_1959)"><strong>Ben Hur</strong></a><br>
                        <a href="https://es.wikipedia.org/wiki/Taken_(pel%C3%ADcula)"><strong>Busqueda Implacable</strong></a></p>
                        </fieldset>
                            
                        <p><!-- |C    --></p>
                        <fieldset>
                        <legend align="center"><span style="color:#800000;"><strong>C</strong></span></legend>
                        <p>
                        <a href="https://es.wikipedia.org/wiki/Carrie_(pel%C3%ADcula_de_2013)"><strong>Carrie</strong></a><br>
                        <a href="https://es.wikipedia.org/wiki/Wrong_Turn"><strong>Camino hacia el terror</strong></a><br>
                        </p></fieldset>
                        
                        <p><!-- |Z   --></p>
                        <fieldset>
                        <legend align="center"><span style="color:#800000;"><strong>Z</strong></span></legend>
                        <p>
                        <a href="https://es.wikipedia.org/wiki/Zombieland"><strong>Zombieland</strong></a><br>
                        <a href="https://es.wikipedia.org/wiki/Zoolander"><strong>Zoolander</strong></a><br>
    
                        </p></fieldset>
                        <p>&nbsp;<br>
                    
                        <p><img loading="lazy" class="alignnone size-medium" src="https://1.bp.blogspot.com/-zybeYk8865o/XtXfak0YJnI/AAAAAAAAcZo/FQN1kxhkZ4Yt9dYaJvTARJme3CzTuQ_tQCPcBGAsYHg/s1600/catalogo.png" width="1" height="1"></p>
                        </div>
                        
                        
                        
                        </div>



                </div>
            </div>
        </div>
    
    </div>
    
    <div class="row m-0  justify-content-center align-items-center">
        <!-- FusionCharts will render here-->
        <div id="chart-1"></div>
        <!-- dumping JavaScript code here -->
        {{ output|safe }}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>
