{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'SesionPagTitle' %}</title>
    <link rel="stylesheet" href="{% static 'css/Bootstrap/bootstrap.min.css' %}" >
    <script src="https://kit.fontawesome.com/f52e6fe05b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/MovieDick_Inicio.css' %}" >
	<!-- <link rel="stylesheet" href="{% static 'css/ini_sesion.css' %}"> -->

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0052ce;">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/ballena.png' %}" alt="" width="100px" height="auto">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
          
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">{% trans 'InicioNavbar' %}<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{% trans 'CatalogoNavbar' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">{% trans 'CategoriasNavbar' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">{% trans 'SesiónNavbar' %}</a>
                        </li>
                    </ul>
                </div>
            </div>    
        </nav>
    </header>
    <div class="form">
	  <h2>{% trans 'SesionTitle' %}</h2>
	  <form class="content">
        <div class="container">
          <label for="usuario"><b>{% trans 'UsuarioLbl' %}</b></label>
          <input type="text" placeholder="{% trans 'UsuarioHolder' %}" name="usuario" required>
          <label for="contraseña"><b>{% trans 'ContraseñaLbl' %}</b></label>
          <input type="password" placeholder="{% trans 'ContraseñaHolder' %}" name="contraseña" required>
          <button type="submit">{% trans 'IniBtn' %}</button>
          <span class="olvidar"><a href="#">{% trans 'RecuperarBtn' %}</a></span>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="registrobtn" onclick="window.location.href='./Registro.html'">{% trans 'RegistroBtn' %}</button>
          
        </div>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>
